<div class="card card-body">
    <h2>{{postagem.titulo}}</h2>
    <p><small><em>{{postagem.date}}</em></small></p
    <h4>{{postagem.subtitulo}}</h4>
    <blockquote>"{{postagem.descricao}}"</blockquote>

    <p>{{postagem.conteudo}}</p>

    <p><small><em>Slug: {{postagem.slug}}</em></small></p>
    <p><small><em>Categoria: {{postagem.categorias.nome}}</em></small></p>
</div>